html
    head
        title Express API
        link(href="/styles/main.css", rel="stylesheet")
    body
        div(class=title)
            h1 Express API Boilerplate

        div(class=desc)
            p This Express API follows the Model-View-Controller design pattern similar to Laravel and AdonisJS.
            p The main purpose for this project was to create an API for my website and also as a boilerplate for future projects.

            a(href="https://expressjs.com/") Express JS  🙈
            a(href="https://www.mongodb.com/") Mongo DB 🙉
            a(href="https://pugjs.org/api/getting-started.html") Pug JS 🙊

        div(class=footer)
            p
                a(href="http://andrewauxilio.me") Written by Andrew Auxilio.