body {
    background-color: white;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}


a {
    padding: 10px;
    text-decoration: none;
    color: black;
}

img {
    width: 5%;
}